@model IEnumerable<FestivalApp.Model.LineUp>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using(Html.BeginForm("Search","LineUp",FormMethod.Get)) {

<fieldset>
    <legend>Vul de zoek gegevens in </legend>
    <div>
        <p>Artiest: @Html.TextBox("Artist")</p>
        <p>Datum: @Html.TextBox("Date")</p>
        <p>Stage: @Html.TextBox("Stage")</p>
    </div>
    <input type="submit" value="Search" />
</fieldset>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Until)
        </th>
        <th>
            Band
        </th>
        <th>
            Stage
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Until)
        </td>
        <td>
            <img src= "@Url.Content(item.Band.PictureURL)" alt="Loading" height="150" width="150" />
            <br />
            @Html.DisplayFor(modelItem => item.Band.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stage.Name)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
    </tr>
}
</table>
}